page-oncall-team {

    .dark {
        background-color: #222222;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 100%;
        max-width: 100%;
        margin-top: 0px;
    }

    .darkText {
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 0px;
        margin: 4px;
    }

    .card .list .item {
        border-top: 1px solid lightgray;
    }

    .linkText {
        color: #3366BB;
    }

    .spinnerCentered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
    }

    .comma-separated-list .comma:last-child {
        visibility: hidden;
    }

}