<!--
  Generated template for the OncallTeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Oncall Team</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-spinner *ngIf="loading" class="incident-loader">Loading...</ion-spinner>
  <div class="dark" *ngIf="team?.name">
    <h3 class="dark darkText">{{ team.name }}</h3>
    <p *ngIf="team.email" class="darkText">{{ team.email }}</p>
    <p *ngIf="team.slack_channel" class="darkText">{{ team.slack_channel }}</p>

  </div>
  <div class="team-info" padding *ngIf="team?.name">
  

    <ion-card *ngIf="team?.summary?.current">
      <ion-card-header>
        <ion-card-title>Oncall Now</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <div *ngIf="team.summary.current?.primary">
            <ion-item *ngFor="let user of team.summary.current.primary" (tap)="userTapped(user.user)">
                <strong>Primary:</strong> {{user.full_name}}
                <p *ngIf="user.user_contacts?.slack">Slack: {{user.user_contacts.slack}}</p>
                <p *ngIf="!user.user_contacts?.slack && user.user_contacts?.email">Email: {{user.user_contacts.email}}</p>
                <p *ngIf="user.user_contacts?.call">Call: {{user.user_contacts.call}}</p>
                <p>On call until: {{user.end * 1000 | date:'EEE MMM dd, zzzz'}} </p>
                <ion-icon name="arrow-dropright" item-right></ion-icon>
            </ion-item>
          </div>

          <div *ngIf="team.summary.current?.secondary">
            <ion-item *ngFor="let user of team.summary.current.secondary" (tap)="userTapped(user.user)">
                <strong>Primary:</strong> {{user.full_name}}
                <p *ngIf="user.user_contacts?.slack">Slack: {{user.user_contacts.slack}}</p>
                <p *ngIf="!user.user_contacts?.slack && user.user_contacts?.email">Email: {{user.user_contacts.email}}</p>
                <p *ngIf="user.user_contacts?.call">Call: {{user.user_contacts.call}}</p>
                <p>On call until: {{user.end * 1000 | date:'EEE MMM dd, zzzz'}} </p>
                <ion-icon name="arrow-dropright" item-right></ion-icon>
            </ion-item>
          </div>

          <div *ngIf="team.summary.current?.manager">
            <ion-item *ngFor="let user of team.summary.current.manager" (tap)="userTapped(user.user)">
                <strong>Manager:</strong> {{user.full_name}}
                <p *ngIf="user.user_contacts?.slack">Slack: {{user.user_contacts.slack}}</p>
                <p *ngIf="!user.user_contacts?.slack && user.user_contacts?.email">Email: {{user.user_contacts.email}}</p>
                <p *ngIf="user.user_contacts?.call">Call: {{user.user_contacts.call}}</p>
                <p>On call until: {{user.end * 1000 | date:'EEE MMM dd, zzzz'}} </p>
                <ion-icon name="arrow-dropright" item-right></ion-icon>
            </ion-item>
          </div>

          <div *ngIf="team.summary.current?.shadow">
            <ion-item *ngFor="let user of team.summary.current.shadow" (tap)="userTapped(user.user)">
                <strong>shadow:</strong> {{user.full_name}}
                <p *ngIf="user.user_contacts?.slack">Slack: {{user.user_contacts.slack}}</p>
                <p *ngIf="!user.user_contacts?.slack && user.user_contacts?.email">Email: {{user.user_contacts.email}}</p>
                <p *ngIf="user.user_contacts?.call">Call: {{user.user_contacts.call}}</p>
                <p>On call until: {{user.end * 1000 | date:'EEE MMM dd, zzzz'}} </p>
                <ion-icon name="arrow-dropright" item-right></ion-icon>
            </ion-item>
          </div>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="team?.summary?.next">
      <ion-card-header>
        <ion-card-title>Oncall Next</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <div *ngIf="team.summary.next?.primary">
            <ion-item *ngFor="let user of team.summary.next.primary" (tap)="userTapped(user.user)">
                <strong>Primary:</strong> {{user.full_name}}
                <p *ngIf="user.user_contacts?.slack">Slack: {{user.user_contacts.slack}}</p>
                <p *ngIf="!user.user_contacts?.slack && user.user_contacts?.email">Email: {{user.user_contacts.email}}</p>
                <p *ngIf="user.user_contacts?.call">Call: {{user.user_contacts.call}}</p>
                <p>Shift starts: {{user.start * 1000 | date:'EEE MMM dd, zzzz'}} </p>
                <ion-icon name="arrow-dropright" item-right></ion-icon>
            </ion-item>
          </div>

          <div *ngIf="team.summary.next?.secondary">
            <ion-item *ngFor="let user of team.summary.next.secondary" (tap)="userTapped(user.user)">
                <strong>Primary:</strong> {{user.full_name}}
                <p *ngIf="user.user_contacts?.slack">Slack: {{user.user_contacts.slack}}</p>
                <p *ngIf="!user.user_contacts?.slack && user.user_contacts?.email">Email: {{user.user_contacts.email}}</p>
                <p *ngIf="user.user_contacts?.call">Call: {{user.user_contacts.call}}</p>
                <p>Shift starts: {{user.start * 1000 | date:'EEE MMM dd, zzzz'}} </p>
                <ion-icon name="arrow-dropright" item-right></ion-icon>
            </ion-item>
          </div>

          <div *ngIf="team.summary.next?.manager">
            <ion-item *ngFor="let user of team.summary.next.manager" (tap)="userTapped(user.user)">
                <strong>Manager:</strong> {{user.full_name}}
                <p *ngIf="user.user_contacts?.slack">Slack: {{user.user_contacts.slack}}</p>
                <p *ngIf="!user.user_contacts?.slack && user.user_contacts?.email">Email: {{user.user_contacts.email}}</p>
                <p *ngIf="user.user_contacts?.call">Call: {{user.user_contacts.call}}</p>
                <p>Shift starts: {{user.start * 1000 | date:'EEE MMM dd, zzzz'}} </p>
                <ion-icon name="arrow-dropright" item-right></ion-icon>
            </ion-item>
          </div>

          <div *ngIf="team.summary.next?.shadow">
            <ion-item *ngFor="let user of team.summary.next.shadow" (tap)="userTapped(user.user)">
                <strong>shadow:</strong> {{user.full_name}}
                <p *ngIf="user.user_contacts?.slack">Slack: {{user.user_contacts.slack}}</p>
                <p *ngIf="!user.user_contacts?.slack && user.user_contacts?.email">Email: {{user.user_contacts.email}}</p>
                <p *ngIf="user.user_contacts?.call">Call: {{user.user_contacts.call}}</p>
                <p>Shift starts: {{user.start * 1000 | date:'EEE MMM dd, zzzz'}} </p>
                <ion-icon name="arrow-dropright" item-right></ion-icon>
            </ion-item>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="team?.summary?.current?.vacation">
      <ion-card-header>
        <ion-card-title>Unavailable Now</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let user of team.summary.current.unavailable" (tap)="userTapped(user.user)">
              <strong>Unavailable:</strong> {{user.full_name}}
              <p>Unavailable until: {{user.end * 1000 | date:'EEE MMM dd, zzzz'}} </p>
              <ion-icon name="arrow-dropright" item-right></ion-icon>
          </ion-item>
          <ion-item *ngFor="let user of team.summary.current.vacation" (tap)="userTapped(user.user)">
              <strong>Vacation:</strong> {{user.full_name}}
              <p>Unavailable until: {{user.end * 1000 | date:'EEE MMM dd, zzzz'}} </p>
              <ion-icon name="arrow-dropright" item-right></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Rosters</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let roster of objectKeys(team.rosters)">
            <strong>{{ roster }}:</strong>
            <span *ngFor="let user of team.rosters[roster].users" outline="true" (tap)="userTapped(user.name)">
              <span class="linkText" >{{ user.name }}</span><span *ngIf="!$last">,&nbsp;</span>
            </span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="team.services.length > 0">
      <ion-card-header>
        <ion-card-title>Services</ion-card-title>
      </ion-card-header>
      <ion-card-content>

          <ion-chip *ngFor="let service of team.services">
            <ion-label>{{ service }}</ion-label>
          </ion-chip>

      </ion-card-content>
    </ion-card>

    
  </div>

  <ion-footer *ngIf="loadingError">
    <ion-toolbar (click)="getTeam()">
      <ion-item>Error fetching data, press to reload:
        <button ion-button outline item-end icon-start>
          <ion-icon name="sync"></ion-icon>
          Reload
        </button>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</ion-content>
