page-oncall {
    .fixed-searchbar{
        position: absolute;
        padding: 20px;
    }
    .searchbar-div{
        position: absolute;
        margin-bottom: 5%;
    }
    .textWrap{
        white-space: normal;
        word-wrap: break-word;
    }
    .toolbar-title {
        text-overflow: inherit;
        white-space: normal;
    }
    .spinnerCenter {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        display: block;
        margin: auto;
        transform: scale(2);
    }   
}
